/* Use Tinder like interface w/ swiping? dating/friendhsip app? */

* {
  display: block;
  align-content: center;
  box-sizing: border-box;
}

title {
  display: none;
}

.loading-message-class {
  color: yellow;
  text-shadow: 2px 2px blue;
  font-size: 30px;
  display: none;
  z-index: 999;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

h1 {
  color: black;
  text-shadow: 0.5px 0.5px white;
}

body {
  align-content: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 500;
}

.page-header {
  display: flex;
  justify-content: center;
  background-color: red;
  border: 2px solid black;
}

.container {
  display: flex;
  justify-content: center;
  /*border: 2px solid red;*/
}

.screen {
  border: 30px solid black;
  display: flex;
  justify-content: center;
  min-width: 500px;
  border-radius: 50%;
  min-height: 300px;
}

.page-footer {
  border: 2px solid black;
}

.customButton {
  border: 1px solid blue;
  width: 180px;
  padding: 10px;
  font-size: 22px;
  border-radius: 50%;
  border-bottom: 8px solid black;
  color: red;
}

button:active {
  text-shadow: 0.5px 0.5px blue;
  background-color: yellow;
  padding: 10px;
  box-shadow: 2px 2px black;
}

ul {
  /*border: 2px solid orange;*/
  min-width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  text-decoration: none;
  /*border: 2px dotted green;*/
  font-size: medium;
  width: 230px;
  align-content: right;
  margin: 0 auto;
  max-height: 50px;
  display: block;
}

/* Form */
.input-wrapper {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  min-width: 75px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

input {
  border: 1px solid black;
}

/* Modal */

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough */
  overflow: auto;

  /* to centre the modal */
  display: grid;
  text-align: center;
}

.body-element {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  float: right;
}

.modal {
  display: flex;
  flex-direction: row;
  margin: auto;
  display: block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

img {
  border: 1px dotted black;
  margin: 0 auto;
}

.modal > div {
  border: 3px solid green;
  flex: 0 1 150px;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  border: 1px solid red;
  margin-top: 0;
  float: right;
}

.modal p {
  border: 2px solid purple;
  margin-bottom: 0;
  float: right;
}
